body {
    margin:0;
    font-family: "Monaco";
    color: #DDD;
}

a {
    color: #DDD;
}

p {
    text-align: center;
}

#clock {
    position: fixed;
    top: 50%;
    left: 34%;
    width: 700px;
    height: 300px;
    margin-top: -150px;

    font-size: 100px;
    font-family:Lucida Grande,  sans-serif, monospace;
    text-align: left;
}
#clock small {    font-size: 70px; display:block; margin:0.5em 0 0 100px; }
